@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Custom colors removed from here */
}

/* Define custom theme values using @theme */
@theme {
  /* Custom colors */
  --terminal-bg: #353535;
  --terminal-text: #c5d0cf;
  --highlight-bg: #f1e29a;
  --highlight-text: #5f5c54;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
